<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta property="og:title" content="#cerealis #AR #colouring">
        <meta property="og:description" content="Hello darkness">
        <% if (image) { %>
            <meta property="og:image" content="http://164.132.228.51:3000/public/img/<%= image %>" />
        <% } %>
        <meta property="og:type" content="image/png" />
        <meta property="og:image:alt" content="Un super alt !!" />
        <title>Title</title>
    </head>
    <body>
        <% if (image) { %>
            <img src="http://164.132.228.51:3000/public/img/<%= image %>" alt="Mon image que je veux vouèr">
        <% } %>
    </body>
</html>