<!DOCTYPE html>
<html lang="fr">
<head>
    <meta property="og:title" content="Test OG">
    <meta property="og:description" content="Hello darkness">
    <meta property="og:image" content="http://164.132.228.51:3000/public/img/routes.png">
    <title>Title</title>
</head>
<body>
  <h1>Hello Darkness my old friend</h1>
  <form action="/api/v1/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image" />
      <input type="submit" value="Upload">
  </form>
</body>
</html>